header {
  padding: 20px;
  box-shadow: 0 5px 5px 3px rgba(150, 150, 150, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-transform: capitalize;
  color: #666666;
  transition: 0.3s;
}

nav ul li:hover a {
  color: red;
  transition: 0.3s;
}

.logo a {
  font-weight: bold;
}
